body {
    background-image: url('../imagens/background-01.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center center; /* Centraliza a imagem */
    height: 100vh; /* 100% da altura da tela */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #e5ffe1;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #3d5535a8;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px; /* Adiciona margem à direita do input */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

.delete-btn {
    margin-left: 10px; /* Adiciona margem à esquerda do botão de excluir */
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}